In [23]:
#step 1 import pandas
import pandas as pd

#step 2 import data
salary = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')

In [24]:
#just for a check no need to write every time
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [25]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 772.0 bytes

In [26]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [27]:
#step 3 define target(y) and features(X) write syntax from here after step 2
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [28]:
y = salary['Salary']  #for row wise or to make shape (40,)
X = salary[['Experience Years']] #to give shape (40,1) or to make column wise

#step 4 train test split for different models visit official sklearn website then api you can learn from there too
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7) 
#initially the size is 0.75 i.e 75% values will be use for train here size is 0.7i.e.70% will be used can be changed such as for 80% train_size=0.8

In [29]:
#check the shape
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((28, 1), (12, 1), (28,), (12,))

In [30]:
#step 5 select model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
#step 6 train or fit model
model.fit(X_train,y_train)  # model is y = mx + c
model.intercept_  #to check m no need every time 
model.coef_  #for m

array([9405.61663234])

In [31]:
#step 7 predict model
y_pred = model.predict(X_test)
y_pred

array([ 90555.15441095,  59516.61952424, 106544.70268592,  64219.42784041,
        68922.23615658, 123474.81262412,  84911.78443155,  63278.86617718,
        65159.98950364,  61397.74285071,  37883.70126987,  50111.00289191])

In [32]:
#step 8 model accuracy
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error
mean_absolute_error(y_test, y_pred)

4005.9263101681768

In [33]:
mean_absolute_percentage_error(y_test, y_pred)

0.06384602996141632

In [34]:
mean_squared_error(y_test,y_pred)

24141421.671440993